.small-cards{
    display: flex;
    flex-direction: row;
    gap: 48px;

    .small-card{
        width: 30%;

        &>img{
            width: 24px;
        }

        display: flex;
        flex-direction: column;
        gap: 20px;
        
        div{
            &:last-child{
                width: fit-content;
                margin-top: 12px;
                border-bottom: 1px solid #333333;
                padding-bottom: 3px;
                cursor: pointer;
            }
        }
    }
}