.small-cards{
    display: flex;
    flex-direction: row;
    gap: 48px;
    padding-top: 64px;
    

    .small-card{
        width: 30%;

        &>img{
            width: 24px;
        }

        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        gap: 20px;
        color: #333333;
        
        &>div{
            
            &:nth-child(2){
                font-size: 18px;
                font-weight: 500;
            }

            &:last-child{
                width: fit-content;
                margin-top: 12px;
                border-bottom: 1px solid #333333;
                padding-bottom: 3px;
                cursor: pointer;
            }
        }
    }
}