.BlackBtn{
    
    background: #000 ;
    padding: 14px 25px;
    width: fit-content;
    border-radius: 8px;
    cursor: pointer;

    a{
        font-weight: 500;
        color: #fff;
        font-style: none;
        text-decoration: none;

    }
    
}