.hero{


    .bg-image{
        width: 100vw;
        height: 100vh;
        position: relative;

    }
    .hero-menu{
        position: absolute;
        top: 10%;
        left: 10%;
        background: #ffffff;
        width: 576px;
        

        .menu-btns{
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            padding: 0 48px;
            background: rgb(251,251,250);
            border-bottom: 2px solid rgb(51, 51, 51, 0.2);

            .option, .option-border{
                width: 81px;
                text-align: center;
                cursor: pointer;
                padding: 28px 12px 20px 12px;
                height: 120px;
                border: none;
                background: none;
                

                img{
                    margin-bottom: 8px;
                }

                &:focus{
                    border-bottom: 3px solid #000;
                }

                p{
                    font-weight: 600;
                    font-size: 14px;
                    line-height: 16px;
                    color: #545454;
                }
                

            }

            .option-border{
                border-bottom: 3px solid #000;
            }

            
        }
    }
}

.drive-deliver{
    padding: 48px;
    display: flex;
    flex-direction: column;
    gap: 24px;

    h1{
        font-size: 52px;
        line-height: 64px;
        font-weight: 700;
        color: #000;
    }

    &>a{

        &:last-child{
            width: fit-content;
            color: #000;
            border-bottom: 1px solid #333333;
            padding-bottom: 3px;
            text-decoration: none;
        }
        
    }

    .flex-link{
        display: flex;
        justify-content: space-between;
        align-items: center;

        &>a{
            width: fit-content;
            color: #000;
            border-bottom: 1px solid #333333;
            padding-bottom: 3px;
            text-decoration: none;
        }
    }

    
}