.footer{

    padding: 50px 100px;

    &>.top-footer{
        
        color: #fff;


        a{
            color: #fff;
            font-style: none;
            text-decoration: none;
            line-height: 112px;
            font-size: 24px;
            width: fit-content;
        }

        p{
            padding-bottom: 50px;
        }

        
        p>a{
            padding-bottom: 50px;
            border-bottom: 1px solid #000;
            font-size: 16px;
            line-height: 16px;
            color: #fff;

            &:hover{
                border-bottom: 1px solid #fff;
            }
        }
    }

    &>.footer-grid{

        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        margin-bottom: 50px;

        .column{
            display: flex;
            flex-direction: column;
            gap: 20px;
            margin-top: 20px;

            h2{
                color: #fff;
                font-size: 18px;
                font-weight: 500;
                line-height: 24px;
            }

            p{
                font-size: 14px;
                color: #fff;
                line-height: 20px;
            }

            a{
                color: #fff;
                font-style: none;
                text-decoration: none;
            }
        }

        
    }
}

.footer-icon-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer-socials-wrapper{
    width: 40%;
    display: flex;
    justify-content: space-between;
}

.footer_socials{
    // width: 50px;
    // height: 50px;
    padding: 15px;
    padding-bottom: 13px;
    border-radius: 10px;
    transition: all 0.3s ease-in-out;

    &:hover{
        background: #545454;
    }
}

.footer_social_icon{
    width: 16px;
    height: 16px;
}

.footer-right-icons{

    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 25px;

    .right-icon{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 10px;

        padding: 10px 15px;
        // padding-bottom: 0px;
        border-radius: 10px;
        transition: all 0.3s ease-in-out;
        cursor: pointer;
        height: fit-content;

        &:hover{
            background: #545454;
        }

        &>p{
            color: #fff;
        }
        
    }

    
}

.app-store{
    margin: 50px 0px;
    display: flex;
    align-items: center;
    gap: 20px;

    img{
        width: 128px;
        border: 1px solid white;
        border-radius: 10px;
    }
}

.copyrights{
        font-size: 12px;
        color: #afafaf;
        text-decoration: none;
        margin-bottom: 50px;

        &:hover{
            opacity: 0.5;
        }
    }
