


.for-business{
        width: 100%;
        background: url("./Images/HP-U4B-NYC-bkg (3).png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;

    .for-business-container{
        width: 90%;
        margin: 0 auto;
        padding: 4rem;
        display: flex;
        flex-direction: column;
        gap: 24px;
        

        // h1{
        //     font-size: 28px;
        //     font-weight: 700;
        //     line-height: 36px;
        // }

        h1{
            font-weight: 700;
            font-size: 36px;
            line-height: 44px;
            }

        p{
            font-size: 1rem;
            line-height: 24px;
        }
    }
}

.safety-section{
    width: 95%;
    margin: 0 auto;
    padding: 4rem;

    
}

.big-cards{
    display: flex;
    gap: 1.5rem;
    padding: 64px 0px;
}



.app-buttons-section{
    width: 100%;
    background: rgb(246,246,246);
    padding: 64px 120px;

    .app-buttons-innersection{
        &>h2{
            font-size: 36px;
            line-height: 44px;
            font-weight: 700;
            color: #333333;
        }
    }
}

.sign-up-btns{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 32px;
    width: 100%;
    padding: 64px 120px;  
}

.footer{
    background: #000;
}

@media only screen and (max-width: 1330px){
    .app-buttons-section{
        padding: 64px 1rem;
        width: 100%;
    }
}

@media only screen and (max-width: 1130px){

    .safety-section{
        padding: 4rem 1rem;
    }

    

}

@media only screen and (max-width: 600px){

    .big-cards{
        flex-direction: column;
        gap: 3.5rem;
    }

}